@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="bg-success col-sm-4 category-list">
        <ul>
            @foreach (var node in ViewBag.Categories)
            {
                PrintCategoriesRecursive(node);
            }
        </ul>
    </div>
    <div class="bg-warning col-sm-8 items-grid">

    </div>
</div>

@{
    void PrintCategoriesRecursive(CategoryNode node)
    {
        if (node != null)
        {
            <li>@node.category.CategoryName</li>
            <ul>
                @{foreach (var child in node.nodes)
                    {
                        PrintCategoriesRecursive(child);
                    }
                }
            </ul>
        }
    }
}
