@model ProductViewModel

<div class="row m-3 border">
    <div class="col-8 pt-3 pg-size bg-info">
        <div class="row ">
            <div class="col-12">
                Photo
            </div>
            <div class="col-12">
                Description
            </div>
        </div>
    </div>
    <div class="col-4 pt-3 pg-size bg-success">
        Details
    </div>
</div>